* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 500px;
  margin: 0 auto;
  border: 1px solid black;
}

a {
  text-decoration: none;
  color: black;
}

ul li {
  list-style: none;
  margin: 15px 20px;
}

.mr-10 {
  margin-right: 10px;
}

.post {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.thumbnail {
  flex: 0 1 100px;
  height: 100px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
}

.post-no {
  flex: 0 1 40px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.post-content {
  flex: 1 1 65%;
}

.post-title {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.post-author {
  color: #777777;
  font-weight: 550;

  width: 100px;
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
