div {
  position: relative;
}

h1 {
  text-align: center;
}

h2 {
  margin: 0px 0px 0px 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.box {
  width: 524px;
}

.color {
  background-color: #34ff33;
}

#Header {
  width: 523px;
  height: 70px;

  
}

.box2::after {
  content: " ";
  display: block;
  clear: both;
}

#Footer {
  width: 523px;
  height: 75px;
}

#Aside {
  width: 70px;
  height: 192px;
  float: left;
}

.box5 {
  float: left;
}

#Content1 {
  width: 444px;
  height: 92px;
}

.box7 {
  width: 217px;
  height: 90px;
  float: left;
}
