<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div class="box">
        <div class="box1">
            <div id="logo" class="box6">
                <p>LOGO</p>
            </div>
            <div id="heading" class="box7">
                <p>Website Heading</p>
            </div>
        </div>
        <div id="menu" class="box2">
            <p>MENU</p>
        </div>
        <div class="box3">
            <div id="section1" class="box8">
                <p>SECTION 1</p>
            </div>
            <div id="section2" class="box8">
                <p>SECTION 2</p>
            </div>
            <div id="section3" class="box8">
                <p>SECTION 3</p>
            </div>
        </div>
        <div class="box4">
            <div id="content" class="box9">
                <p>PAGE CONTENTS</p>
            </div>
            <div id="sidebar" class="box10">
                <p>SIDE BAR</p>
            </div>
        </div>
        <div id="footer" class="box5">
            <p>PAGE FOOTER</p>
        </div>
    </div>
</body>

</html>